/*============================button=======================================*/

button.style-4 {
  $color: black;
  $color2: pink;
  $radius: .35rem;
  $border-width: 2px;
  $color-bg: white;
  $offset: .5rem;
  $transition: .3s;
  &::after {
    border: 0;
    box-shadow: 0px 0px 0px $border-width $color;
    width: calc(100%);
    height: calc(100%);
  }

  &:hover {
    &::after {
      top: -#{$offset};
      left: -#{$offset};
      width: calc(100% + #{$offset} * 2);
      height: calc(100% + #{$offset} * 2);
    }
  }
}
/*============================button=======================================*/