<!doctype html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="Mindaid Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>MindAid</title>
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">

<!--    <link rel="stylesheet" href="assets/imported/style.css">-->
<!--    <link rel="stylesheet" href="assets/imported/bootstrap.min.css">-->
</head>
<body>
<!--header-->
<header id="site-header" class="header-w3l fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="brand-logo" th:href="@{/home}">
                M<span class="sub-logo">i</span>ndA<span class="sub-logo">i</span>d
            </a>
            <!-- if logo is image enable this -->
            <!-- <a class="navbar-brand" href="#home.html">
                <img src="assets/images/MindAid.png" alt="Your logo" title="Your logo" style="height:70px;" />
            </a>  -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/faq}">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
                        <!--/search-right-->
                        <form class="search position-relative">
                            <input type="search" class="search__input" name="search" placeholder="Search here.."
                                   onload="equalWidth()" required="">
                            <span class="fa fa-search search__icon"></span>
                        </form>

                        <!--//search-right-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}"><img src="/assets/images/img_1.png"></a>
                    </li>

                </ul>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
</div>
<!-- //header -->


<!--&lt;!&ndash;=========== Sidebar Area Start Desktop View==========&ndash;&gt;-->
<!--<section class="sidebar section-padding-1 d-none d-md-block">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="wrapper d-flex">-->
<!--                <div class="sidebar">-->
<!--                    <p class="pl-3 pt-2"><i class="fas fa-user-circle"></i> Username </p>-->
<!--                    <hr>-->
<!--                    <ul>-->
<!--                        <li><a href="#"><i class="fas fa-home profile-icon"></i> Dashboard</a></li>-->
<!--                        <li><a href="#"><i class="fas fa-user profile-icon"></i> Profile</a></li>-->
<!--                        <li><a href="#"><i class="fas fa-file-invoice profile-icon"></i> Appointments</a></li>-->
<!--                    </ul>-->
<!--                    <div class="sign-out">-->
<!--                        <p>Sign Out <i class="fas fa-arrow-right"></i></p>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash;=========== Sidebar Area End ==========&ndash;&gt;-->

<!--&lt;!&ndash;=========== Sidebar Area Start Mobile View==========&ndash;&gt;-->
<!--<section class="sidebar section-padding-1 d-block d-md-none" >-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="wrapper d-flex">-->
<!--                <div class="sidebar">-->
<!--                    <p class="pl-3 pt-2"><i class="fas fa-user-circle"></i></p>-->
<!--                    <hr>-->
<!--                    <ul>-->
<!--                        <li><a href="#"><i class="fas fa-home profile-icon"></i></a></li>-->
<!--                        <li><a href="#"><i class="fas fa-user profile-icon"></i></a></li>-->
<!--                        <li><a href="#"><i class="fas fa-file-invoice profile-icon"></i></a></li>-->
<!--                    </ul>-->
<!--                    <div class="sign-out">-->
<!--                        <i class="fas fa-sign-out-alt profile-icon"></i>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash;=========== Sidebar Area End ==========&ndash;&gt;-->


<!--=========== Concern Area Start ==========-->
<section class="login service-1 section-padding-1 section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="concern_content">
                    <h2 class="title">Let us know your concerns</h2><br>
                    <p>To ensure your therapist can help you, tell us a bit about your concerns by selecting all that apply.</p><br>
                    <form th:action="@{/submitconcern}"  th:object="${concernDto}" method="POST">
                    <div class="checkbox-list">
                        <th:block th:each="concern : ${concernList}">
                        <!--label start-->
                        <label class="check-item">
                            <input type="checkbox" th:name="concerns[__${concern.getConcernId}__]" th:value="${concern.getConcernId}">
<!--                            th:checked="${concernDto.concerns[0]}"-->
                            <span>
                             <p th:text="${concern.getConcernName}"></p>
                            </span>
                        </label>
                        <!--label end-->
                        </th:block>
                    </div>

<!--Hidden Input Section-->
<input type="hidden" th:name="userId" th:value="${userDto.getUserId}"/>
<!-- Hidden Input Section end-->


                    <button type="submit" class="btn btn-outline-info mt-5">Submit</button>
                    </form>
                </div>
            </div><!-- col-lg-12 end-->
        </div><!-- row end-->
    </div><!-- container end-->
</section><!-- section end-->
<!--=========== Concern Area End ==========-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>



<!--=============Custom JS========================-->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/theme-change.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            loop: true,
            nav: false,
            margin: 50,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                991: {
                    items: 2,
                    margin: 30,
                    nav: false
                },
                1080: {
                    items: 3,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->
<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->


<script src="assets/js/bootstrap.min.js"></script>
<!--=============Custom JS END====================-->




</body>
</html>