<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find easily a doctor and book online an appointment">
    <meta name="author" content="Ansonika">
    <title>MindAid</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link href="assets/css/custom.css" rel="stylesheet">

    <!-- Favicons-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="assets/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="assets/css/menu.css" rel="stylesheet">
    <link href="assets/css/vendors.css" rel="stylesheet">
    <link href="assets/css/all_icons_min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="assets/css/custom_2.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

<div id="preloader" class="Fixed">
    <div data-loader="circle-side"></div>
</div>
<!-- /Preload-->
<!--header-->
<header id="site-header" class="header-w3l fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="brand-logo" th:href="@{/home}">
                M<span class="sub-logo">i</span>ndA<span class="sub-logo">i</span>d
            </a>
            <!-- if logo is image enable this -->
            <!-- <a class="navbar-brand" href="#home.html">
                <img src="assets/images/MindAid.png" alt="Your logo" title="Your logo" style="height:70px;" />
            </a>  -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/faq}">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
                        <!--/search-right-->
                        <form class="search position-relative">
                            <input type="search" class="search__input" name="search" placeholder="Search here.."
                                   onload="equalWidth()" required="">
                            <span class="fa fa-search search__icon"></span>
                        </form>

                        <!--//search-right-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}"><img src="/assets/images/img_1.png"></a>
                    </li>

                </ul>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
</div>
<!-- //header -->

<div id="page">
    <main>
        <div class="container margin_60">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <nav id="secondary_nav">
                        <div class="container">
                            <ul class="clearfix">
                                <li><a href="#section_1" class="active">Therapists information</a></li>
                                <li><a href="#sidebar">Booking</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div id="section_1">
                        <div class="box_general_3">
                            <div class="profile">
                                <div class="row">
                                    <div class="col-lg-5 col-md-4">
                                        <figure>
                                            <img th:src="@{${'/assets/user-photos/' + doctorsDto.getDocId() +'/'+ doctorsDto.getPhotos()}}" alt="" class="img-fluid">
                                        </figure>
                                    </div>
                                    <div class="col-lg-7 col-md-8">
                                        <small th:text="'Specialized at: '+${doctorsDto.getSpeciality}"></small>
                                        <h1 th:text="${doctorsDto.getName}"></h1>
                                        <ul class="statistic">
                                            <li th:utext="${doctorsDto.getRatings}+'/5 ratings'"></li>
                                            <li th:utext="${doctorsDto.getPatientCount}+' Patients'"></li>
                                        </ul>
                                        <ul class="contacts">
                                            <li>
                                                <h6>Fee</h6>
                                                <p th:text="'Tk. '+${doctorsDto.getFee}+'/session'"> </p>
                                            </li>
                                            <li>
                                                <h6>Available on</h6> <p th:text="${doctorsDto.getScheduleDay}"></p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="indent_title_in">
                                <h3>About me</h3>
                                <p th:text="${doctorsDto.getDescription}"></p>
                            </div>
                            <div class="wrapper_indent">
                            </div>

                            <hr>

                            <div class="indent_title_in">
                                <h3>Education</h3>
                                <p>Educational background.</p>
                            </div>
                            <div class="wrapper_indent">
                                <p th:text="${doctorsDto.getEducation}"></p>
                                <h6>Curriculum</h6>
                                <ul class="list_edu">
                                    <li><strong>New York Medical College</strong> - Doctor of Medicine</li>
                                    <li><strong>Montefiore Medical Center</strong> - Residency in Internal Medicine</li>
                                    <li><strong>New York Medical College</strong> - Master Internal Medicine</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col -->
                <aside class="col-xl-4 col-lg-4" id="sidebar">
                    <div class="box_general_3 booking">
                        <form method=post th:action="@{/payment}" th:object="${doctorsDto}">
                            <div class="title">
                                <h3>Book a Session</h3>
                                <small th:utext="${doctorsDto.getScheduleDay()}"></small>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
<!--                                        <input class="form-control" type="text" id="booking_date" data-lang="en" data-min-year="2020" data-max-year="2024" data-disabled-days="10/17/2021,11/18/2021">-->
                                        <select th:name="selectedScheduleDay" id="selectedScheduleDay" class="custom-select-option" required>
<!--                                            th:field="*{selectedScheduleDay}"-->
                                            <option th:selected="true" th:disabled="disabled" value="something">Select Day </option>
                                            <th:block th:each="scheduleDay : ${scheduleDays}">
                                            <option th:value="${scheduleDay.getScheduleDate()}" th:disabled="${scheduleDay.isActiveStatusBool()}" th:text="${scheduleDay.getScheduleDate()}"> </option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
<!--                                        <input class="form-control" type="text" id="booking_time" value="9:00 am">-->
                                        <select th:name="selectedScheduleTime" id="selectedScheduleTime" class="custom-select-option" required>
                                            <!--                                            th:field="*{selectedScheduleDay}"-->
                                            <option th:selected="true" th:disabled="disabled" value="something">Select Time </option>
<!--                                            <th:block th:each="scheduleTime : ${scheduleTimeAndTimeStr}">-->
<!--                                                <option th:value="${scheduleTime.getScheduleTimeStr()}" th:text="${scheduleTime.getScheduleTimeStr()}"> </option>-->
<!--                                            </th:block>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
<!--                            <a type="submit" th:href="@{/payment}" class="btn_1 full-width">Book Now</a>-->
                            <input type="hidden" th:value="${doctorsDto.getName()}" th:attr="name='name'"/>
                            <input type="hidden" th:value="${doctorsDto.getFee()}" th:attr="name='fee'"/>
                            <input type="hidden" th:value="${doctorsDto.getDocId()}" th:attr="name='docId'"/>
                            <input type="hidden" id="scheduleId" th:value="${doctorsDto.getScheduleId()}" th:attr="name='scheduleId'"/>
                            <input type="hidden" th:value="${doctorsDto.getContactMedia()}" th:attr="name='contactMedia'"/>
                            <button class="btn_1 full-width" type="submit">Book Now</button>
                        </form>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <script>
                            $("#selectedScheduleDay").change(function(){
                                var date = $(this).val();
                                var scheduleId= $("#scheduleId").val();
                                $.ajax({
                                    type: 'GET',
                                    url: "/schedule-time/"+date+"/"+scheduleId,
                                    success: function(data){
                                        var selectedScheduleTime=$('#selectedScheduleTime'), option="<option selected='"+true+"' disabled='"+false+"' value=\"something\">Select Time </option>",disable="";
                                        selectedScheduleTime.empty();

                                        for(var i=0; i<data.length; i++){

                                            if (data[i].activeStatusBoolTime){
                                                option = option + "<option th:value='"+data[i].scheduleTimeStr + "' disabled >"+data[i].scheduleTimeStr + "</option>";
                                            }
                                            else {
                                                option = option + "<option th:value='"+data[i].scheduleTimeStr + "'>"+data[i].scheduleTimeStr + "</option>";
                                            }

                                        }
                                        selectedScheduleTime.append(option);
                                    },
                                    error:function(){
                                        alert("error");
                                    }

                                });
                            });
                        </script>

                    </div>
                    <!-- /box_general -->
                </aside>
                <!-- /asdide -->
        </div>
        </div>
        <!-- /container -->
    </main>
    <!-- /main -->

</div>
<!-- page -->

<div id="toTop"></div>
<!-- Back to top button -->


<!-- COMMON SCRIPTS -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/common_scripts.min.js"></script>
<script src="assets/js/functions.js"></script>

</body>
</html>