<!doctype html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="Mindaid Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>MindAid</title>
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- BASE CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/css/vendors.css">
    <link rel="stylesheet" href="assets/css/all_icons_min.css" >

    <!-- YOUR CUSTOM CSS -->
    <link href="assets/css/custom_2.css" rel="stylesheet">
</head>
<body>
<!--header-->
<header id="site-header" class="header-w3l fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="brand-logo" th:href="@{/home}">
                M<span class="sub-logo">i</span>ndA<span class="sub-logo">i</span>d
            </a>
            <!-- if logo is image enable this -->
            <!-- <a class="navbar-brand" href="#home.html">
                <img src="assets/images/MindAid.png" alt="Your logo" title="Your logo" style="height:70px;" />
            </a>  -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/faq}">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
                        <!--/search-right-->
                        <form class="search position-relative">
                            <input type="search" class="search__input" name="search" placeholder="Search here.."
                                   onload="equalWidth()" required="">
                            <span class="fa fa-search search__icon"></span>
                        </form>

                        <!--//search-right-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user-profile}"><img src="/assets/images/img_1.png"></a>
                    </li>

                </ul>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
</div>
<!-- //header -->


<!-- doctor list view start -->

<div class="bg_color_1">
    <div class="container">
<!--    <div class="container margin_120_95">-->
        <div class="main_title">
            <h2><b>Our Specialized Therapists</b></h2>
            <p>Book a therapist to get an appointment</p>
        </div>
<!--        <div class="row">-->
            <div class="row justify-content-center doc-list">
            <th:block th:each="docName: ${doctorsList}">
            <div class="col-lg-4 col-md-6">
<!--                <th:block th:each="docName: ${doctorsList}">-->
                <div class="box_list home">
                    <figure>

                        <a href="detail-page.html">
<!--                            <img th:src="@{${docName.getPhotos()}}" class="img-fluid" alt="">-->
                            <img th:src="@{${'/assets/user-photos/' + docName.getDocId() +'/'+ docName.getPhotos()}}" alt="" class="img-fluid ">
                        </a>
                        <div class="preview"><span>Read more</span></div>
                    </figure>
                    <form method=post th:action="@{/postdoctorlist}" th:object="${doctorDto}">
                    <div class="wrapper">
                        <small th:utext="${docName.getSpeciality()}"></small>
                        <h5 th:utext="${docName.getName()}"></h5>
                        <div class="profile-custom">
                            <ul class="statistic-custom">
                                <li th:utext="${docName.getRatings}+'/5 ratings'"></li>
                                <li th:utext="${docName.getPatientCount}+' Patients'"></li>
                            </ul>
                        </div>
                        <p class="education-custom" th:utext="${docName.getEducation()}"> </p>

                        <p>Available On: <span th:utext="${docName.getScheduleDay()}"></span></p>

<!--                        <p th:utext="'Available On: '+${docName.getScheduleDay()}+' | '+${docName.getScheduleTime()}"></p>-->
                        <p th:utext="'Fee: '+${docName.getFee()}"> </p>
                        <hr class="custom-hr">
                        <input type="hidden" th:value="${docName.getDocId()}" th:attr="name='docId'"/>
                        <button class="btn_1 full-width" type="submit">Book Now</button>
                    </div>

                    </form>
                </div>
<!--                </th:block>-->
            </div>
            </th:block>
        </div>

        <!-- /row -->
<!--        <p class="text-center add_top_30"><a href="list.html" class="btn_1 medium">View all Doctors</a></p>-->
    </div>
</div>


    <!-- doctor list view end -->
<!-- COMMON SCRIPTS -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/common_scripts.min.js"></script>
<script src="assets/js/functions.js"></script>

</body>
</html>