<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MindAid-ChatBox</title>
<!--    <link rel="icon" href="Logo1.png">-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/custom.css"/>
    <link rel="stylesheet" href="assets/css/ratings.css">
</head>
<body background="assets/img/bckground.jpg" id="site-header"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Enter Your name</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Nome"
                       autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" style="background: #17a2b8;color: #FFFFFF" class="username-submit">Start Your Conversation</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container" id="site-header-2">
        <div class="chat-header">
            <h2>MindAid-Chatbox</h2>
        </div>
        <div class="connecting">Type message...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type your message..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" style="background: #17a2b8; color: #FFFFFF">Send</button>
                </div>
            </div>
        </form><br>
        <div class="wrap-custom-something">
            <button th:if="${usertype=='user'}" onclick="openForm()" class="something">⇚ Go Back</button>
            <a th:if="${usertype=='doctor'}" th:href="@{/doctor-profile}" class="button-custom">⇚ Go Back</a>
            <!--            <button class="button-custom" type="submit">Go Back</button>-->
        </div>


    </div>

</div>
<div class="form-popup-custom" id="myForm">
    <div class="form-container-custom">
        <h5><b>Give Your Ratings!</b></h5>
        <div class="rating rating2">
            <!--
            --><a th:href="@{'/score-submit/5/'+${paymentDto.getDocId()}}" title="Give 5 stars">★</a><!--
		--><a th:href="@{'/score-submit/4/'+${paymentDto.getDocId()}}"  title="Give 4 stars">★</a><!--
		--><a th:href="@{'/score-submit/3/'+${paymentDto.getDocId()}}"  title="Give 3 stars">★</a><!--
		--><a th:href="@{/'/score-submit/2/'+${paymentDto.getDocId()}}"  title="Give 2 stars">★</a><!--
		--><a th:href="@{/'/score-submit/1/'+${paymentDto.getDocId()}}"  title="Give 1 star">★</a>
        </div>
    </div>
</div>
<!-- //main -->
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
        $("#site-header").css({
            "filter": "blur(4px)"
        });
        // $("#chat-page").css({
        //     "filter": "blur(4px)"
        // });
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>