<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/ratings.css">
</head>
<body>
<h2>Give Your Ratings!</h2>
<div class="rating rating2"><!--
		--><a th:href="@{/score-submit/5}" title="Give 5 stars">★</a><!--
		--><a th:href="@{/score-submit/4}"  title="Give 4 stars">★</a><!--
		--><a th:href="@{/score-submit/3}"  title="Give 3 stars">★</a><!--
		--><a th:href="@{/score-submit/2}"  title="Give 2 stars">★</a><!--
		--><a th:href="@{/score-submit/1}"  title="Give 1 star">★</a>
</div>
</body>
</html>